version: '3'

services:

    backend:
        build: ./backend
        image: backend
        environment:
            APP_SERVER_PORT: {{ APP_SERVER_PORT }}
            COUCHDB_HOST: {{ COUCHDB_HOST }}
        ports:
            - {{ APP_SERVER_PORT }}:{{ APP_SERVER_PORT }}
        command: npm run start
        
