version: '3'

services:

    backend:
        build: ./backend
        environment:
            APP_SERVER_PORT: {{ APP_SERVER_PORT }}
            COUCHDB_HOST: {{ COUCHDB_HOST }}
        ports:
            - {{ APP_SERVER_PORT }}:{{ APP_SERVER_PORT }}
        command: npm run start
        
    frontend:
        build: ./frontend
        environment:
            REACT_APP_PORT: {{ REACT_APP_PORT }}
        ports:
            - 80:80
        stdin_open: true
