body {
  background-color: white;
}

.project-name {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 10%;
}

.uni_image {
  height: 200px;
  width: 200px;
}

.mel_image {
  position: absolute;
  top: 25%;
  left: 30%;
  height: 550px;
  width: 550px;
}

.start-area {
  position: absolute;
  top: 75%;
  left: 70%;
}

.button-color-unimelb{
  background-color: #094183;
  border-color: #094183
}