version: '3'

services:

    backend:
        build: ./backend
        image: ccc-p2/backend
        environment:
            APP_SERVER_PORT: {{ APP_SERVER_PORT }}
            COUCHDB_HOST: {{ COUCHDB_HOST }}
        ports:
            - {{ APP_SERVER_PORT }}:{{ APP_SERVER_PORT }}
        command: npm run start

    frontend:
        build: ./frontend
        image: ccc-p2/frontend
        environment:
            REACT_APP_PORT: {{ REACT_APP_PORT }}
        ports:
            - 80:{{ REACT_APP_PORT }}
        stdin_open: true
        links:
            - backend
        command: serve -p 4000 -s .
        
